<div class = "p-7">
    <nav class="">
        <ul class="">
            <div class="flex justify-items-start">
                <img src="assets/logo.png" alt="Logo" class="w-24 h-24 ">
                <div class="flex gap-7 p-8 font-extralight text-2xl">
                    <li><a routerLink = "/home">Home</a></li>
                    <li><a routerLink = "/about">About</a></li>
                    <li><a routerLink = "/skills">Skills</a></li>
                    <li><a routerLink = "/portfolio">Portfolio</a></li>
                    <li><a routerLink = "/contact">Contact Us</a></li>
                </div>
            </div>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>